<div class="page-pie">
  <div class=" wrapper-content">
  <menu></menu>
  <div class="container-title col-md-12">
      <div class="title col-md-12 resumen">
       <h5 class="title-text " >AYUDA</h5>
      </div>
  </div>
</div>
</div>

    <section class="table" style="display:inline-block">
      <div class="collapse navbar-collapse" id="navbar-menu">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link"  routerLink="/">
                <span class="glyphicon glyphicon-home" aria-hidden="true"> </span>Indice</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/">
                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>Contenido</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" routerLink="/">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>Glosario</a>
            </li>
          </ul>
        </div>

        <h4 style="text-align: left;">Como ...</h4>
        <div>
          <ul style="text-align: left;">
            <li><a href="/ayuda#resumen_porta">Consultar resumen de portafolio</a></li>
            <li><a routerLink="/">Consultar saldos de firma comisionista</a></li>
            <li><a routerLink="/">Consultar movimientos de firma comisionista</a></li>
            <li><a routerLink="/">Consultar saldos de fondo de inversión</a></li>
            <li><a routerLink="/">Consultar movimientos de fondo de inversión</a></li>
            <li><a routerLink="/">Generar extractos de firma comisionista</a></li>
            <li><a routerLink="/">Generar extractos de fondos de inversión</a></li>
            <li><a routerLink="/">Certificado para declaración de renta</a></li>
          </ul>
        </div>

        <h5 id="resumen_porta" style="text-align: left;">Consultar resumen de portafolio</h5>
        <div>
          <ol style="text-align: left;">
          <li value="1">Dar clic en el menú RESUMEN DE PORTAFOLIO</li>
          <li>Seleccionar la fecha </li>
          <li>Dar clic en el botón consultar</li>
          </ol>
        </div>
    </section>