<div class="page-extractos-y-certificaciones">
  <div class=" wrapper-content">
  <menu></menu>
    <div class="col-md-6"></div>
    <user-info></user-info>
    <section class="header">
      <h5>EXTRACTOS Y CERTIFICACIONES</h5>
    </section>
    <section>
      <h6 for="" class="left-aling-content">EXTRACTOS</h6>
      <form class="">
        <div class="left-aling-content">
          <label style="width:145px" for="">Firma Comisionista</label>
          <select  style="width:200px" class="" [(ngModel)]="fecha_select_firma" name="fecha_select_firma" id="fecha_select_firma" required>
            <option value="NA">-seleccione una fecha-</option>
            <option *ngFor="let item of fechas" value="{{item | date: 'yyyy-MM-dd'}}">{{item | date:'MMM y'}}</option>
          </select>
          <button (click)=download_firma() type="button" name="button" class="btn">CONSULTAR</button>
        </div>
        <hr>
        <div class="left-aling-content">
          <label style="width:145px" for="">Fondos de Inversión</label>
          <select style="width:200px" id="option_select" [(ngModel)]="option_select" name="option_select" class="">
                <option value="NA">-seleccione un fondo-</option>
                <option *ngFor="let item of fics_filter?.fics" value="{{item['Fondo']}}|{{item['Nombre']}}|{{item['Fideicomiso']}}">{{item['Nombre']}} - {{item['Fideicomiso']}}</option>
          </select>
          <select class="" [(ngModel)]="fecha_select" name="fecha_select" id="fecha_select" required>
            <option value="NA">-seleccione una fecha-</option>
            <option *ngFor="let item of fechas" value="{{item | date: 'yyyy-MM-dd'}}">{{item | date:'MMM y'}}</option>
          </select>
          <button (click)=download_fics() type="button" name="button" class="btn">CONSULTAR</button>
        </div>
      </form>
    </section>
    <section class="header">
      <h6 for="" class="left-aling-content">CERTIFICACIÓNES</h6>
      <form class="" action="index.html" method="post">
        <div class="left-aling-content">
          <label  style="width:250px" for="">Certificado para declaración de renta</label>
          <select class="" name="">
            <option value="option">2016</option>
          </select>
          <button type="button" name="button" class="btn">CONSULTAR</button>
        </div>
      </form>
    </section>
  </div>
</div>
