<div class="page-extractos-y-certificaciones">
  <div class=" wrapper-content">
  <menu></menu>
    <div class="col-md-6"></div>
    <user-info></user-info>
    <section class="header">
      <h5>EXTRACTOS Y CERTIFICACIONES</h5>
    </section>
    <section>
      <label for="">Extractos</label>
      <form class="">
        <div class="left-aling-content">
          <label for="">Firma Comisionista</label>
          <select class="" [(ngModel)]="fecha_select_firma" name="fecha_select_firma" id="fecha_select_firma" required>
            <option value="NA">-seleccione una fecha-</option>
            <option *ngFor="let item of fechas" value="{{item | date: 'yyyy-MM-dd'}}">{{item | date:'MMM y'}}</option>
          </select>
          <button (click)=download_firma() type="button" name="button">Consultar</button>
        </div>
        <div class="left-aling-content">
          <label for="">Fondos de Inversión</label>
          <select id="option_select" [(ngModel)]="option_select" name="option_select" class="wrapper-select">
                <option value="NA">-seleccione un fondo-</option>
                <option *ngFor="let item of fics_filter?.fics" value="{{item['Fondo']}}|{{item['Nombre']}}|{{item['Fideicomiso']}}">{{item['Nombre']}} - {{item['Fideicomiso']}}</option>
          </select>
          <select class="" [(ngModel)]="fecha_select" name="fecha_select" id="fecha_select" required>
            <option value="NA">-seleccione una fecha-</option>
            <option *ngFor="let item of fechas" value="{{item | date: 'yyyy-MM-dd'}}">{{item | date:'MMM y'}}</option>
          </select>
          <button (click)=download_fics() type="button" name="button">Consultar</button>
        </div>
      </form>
    </section>
    <section class="header">
      <label for="">Certificaciónes</label>
      <form class="" action="index.html" method="post">
        <div class="left-aling-content">
          <label for="">Certificado para Declaración de Renta</label>
          <select class="" name="">
            <option value="option">2016</option>
          </select>
          <button type="button" name="button">Consultar</button>
        </div>
      </form>
    </section>
  </div>
</div>
