<div class="page-movimientos">
  <div class=" row wrapper-content">
    <nav class="navbar navbar-light bg-faded">
    <form class="form-inline">
      <button routerLink="/report/{{id}}/{{date}}/pie" class="btn btn-sm align-middle btn-outline-secondary" type="button"> Portafolio </button>
      <button *ngIf="products?.access.TotalRV.val" routerLink="/report/{{id}}/{{date}}/renta-varible" class="btn btn-sm align-middle btn-outline-secondary" type="button">Renta Varible</button>
      <button *ngIf="products?.access.TotalRF.val" routerLink="/report/{{id}}/{{date}}/renta-fija" class="btn btn-sm align-middle btn-outline-secondary" type="button">Renta Fija</button>
      <button *ngIf="products?.access.TotalCarteras.val" routerLink="/report/{{id}}/{{date}}/fics" class="btn btn-sm align-middle btn-outline-secondary" type="button">Fondos de inversión</button>
      <button *ngIf="products?.access.TotalLiquidez.val" routerLink="/report/{{id}}/{{date}}/operaciones-por-cumplir" class="btn btn-sm align-middle btn-outline-secondary" type="button">Operaciones por cumplir</button>
      <button *ngIf="products?.access.TotalPorCumplir.val" routerLink="/report/{{id}}/{{date}}/operaciones-de-liquidez" class="btn btn-sm align-middle btn-outline-secondary" type="button">Operaciones de liquidez</button>
      <button routerLink="/report/{{id}}/{{date}}/movimientos" class="btn btn-sm align-middle btn-outline-secondary" type="button">Movimientos</button>
    </form>
  </nav>
  </div>
  <section class="personal-data">
    <div *ngIf="products == undefined" class="content-wrapper border-container">
        <div>
          <img style="width: 100px; height: 100px;" src="/images/loading_data.gif" >
        </div>
    </div>
    <div *ngIf="products != undefined" class="content-wrapper border-container">
        <div class="col">
            <div class="text-left"><strong>Nombre:</strong><span>{{ products?.personal_data.name }}</span></div>
        </div>
        <div class="col">
            <div class="text-left"><strong>Dirección:   </strong><span> {{ products?.personal_data.address }}</span></div>
        </div>
        <div class="col">
            <div class="text-left"><strong>Ciudad:   </strong><span>{{ products?.personal_data.city }}</span></div>
        </div>
        <div class="col">
            <div class="text-left"><strong>Asesor Comercial:   </strong><span>{{ products?.personal_data.comercial_adviser }}</span></div>
        </div>
        <div class="col">
            <div class="text-left"><strong>Estado:   </strong><span> {{ products?.personal_data.state }}</span></div>
        </div>
    </div>
  </section>

  <section class="header">
    <h5> MOVIMIENTOS DEL PERIODO FIRMA COMISIONISTA (Sin Movimientos de Fondos de inversión) </h5>
  </section>
  <section class="movimientos">
    <div style="display: block">
      <form class="form-search">
          <label for="name">Desde:</label>
          <input  id="datepicker_start" type="text" [(ngModel)]="date" name="date" required>
          <label for="name">Hasta:</label>
          <input id="datepicker_end" type="text" [(ngModel)]="date_end" name="date_end" required>
          <button  (click)="search()" class="btn btn-sm align-middle btn-outline-secondary" type="button">Consultar</button>
      </form>
      <table *ngIf="dataExtrac != undefined " style="width:100%" class="report-table">
        <thead>
          <th class="numero" >FECHA</th>
          <th class="numero" >DOCUMENTO</th>
          <th class="detalle">DETALLE</th>
          <th>A. SU CARGO</th>
          <th>A. SU FAVOR</th>
          <th>SALDO</th>
        </thead>
          <tr *ngFor="let item of dataExtrac?.data">
            <td class="numero" >{{item.fecha}}</td>
            <td class="numero" >{{item.strNumero}}</td>
            <td class="detalle" >{{item.strDetalle1}}</td>
            <td class="cargo">{{item.ACargo | currency:'USD':true:'1.2-2'}}</td>
            <td class="favor" >{{item.AFavor | currency:'USD':true:'1.2-2'}}</td>
            <td class="saldo">{{item.Saldo | currency:'USD':true:'1.2-2'}}</td>
          </tr>
          <tr>
            <td colspan="3"><strong>TOTAL</strong></td>
            <td ><strong>{{dataExtrac?.total.totalCargo | currency:'USD':true:'1.2-2'}}</strong></td>
            <td ><strong>{{dataExtrac?.total.totalFavor | currency:'USD':true:'1.2-2'}}</strong></td>
            <td ><strong>{{dataExtrac?.total.totalSaldo | currency:'USD':true:'1.2-2'}}</strong></td>
          </tr>

      </table>
    </div>
  </section>
</div>
