
<section class="personal-data">
  <div class="content-wrapper border-container">
      <div class="col">
          <div class="text-left"><strong>Nombre:   </strong><em>{{ products?.personal_data.name }}</em></div>
      </div>
      <div class="col">
          <div class="text-left"><strong>Direccion:   </strong><em> {{ products?.personal_data.address }}</em></div>
      </div>
      <div class="col">
          <div class="text-left"><strong>Ciudad:   </strong><em>{{ products?.personal_data.city }}</em></div>
      </div>
      <div class="col">
          <div class="text-left"><strong>Asessor comercial:   </strong><em>{{ products?.personal_data.comercial_adviser }}</em></div>
      </div>
      <div class="col">
          <div class="text-left"><strong>Estado:   </strong><em> {{ products?.personal_data.state }}</em></div>
      </div>
  </div>
</section>

<section class="table">
  <table style="width:100%">
    <thead>
      <th>Emisión</th><th>Tipo</th><th>F. Inicial</th><th>F. Final</th><th>Nominal</th><th>V. Operacion</th>
    </thead>
      <tr *ngFor="let item of renta?.data">
        <td>Varl</td>
        <td>Varl</td>
        <td>Varl</td>
        <td>Varl</td>
        <td>Varl</td>
        <td>Varl</td>
      </tr>
      <tr>
        <td colspan="5"><strong>Total Operaciones de Liquidez</strong></td>
        <td colspan="1"><strong> $6.000.0000 </strong></td>
      </tr>
  </table>
</section>
