<div class=" row wrapper-content">
  <nav class="navbar navbar-light bg-faded">
  <form class="form-inline">
    <button routerLink="/report/{{id}}/{{date}}/pie" class="btn btn-sm align-middle btn-outline-secondary" type="button"> Portafolio </button>
    <button *ngIf="access?.TotalRV.val" routerLink="/report/{{id}}/{{date}}/renta-varible" class="btn btn-sm align-middle btn-outline-secondary" type="button">Renta Varible</button>
    <button *ngIf="access?.TotalRF.val" routerLink="/report/{{id}}/{{date}}/renta-fija" class="btn btn-sm align-middle btn-outline-secondary" type="button">Renta Fija</button>
    <button *ngIf="access?.TotalCarteras.val" routerLink="/report/{{id}}/{{date}}/fics" class="btn btn-sm align-middle btn-outline-secondary" type="button">Fondos de inversión</button>
    <button *ngIf="access?.TotalLiquidez.val" routerLink="/report/{{id}}/{{date}}/operaciones-por-cumplir" class="btn btn-sm align-middle btn-outline-secondary" type="button">Operaciones por cumplir</button>
    <button *ngIf="access?.TotalPorCumplir.val" routerLink="/report/{{id}}/{{date}}/operaciones-de-liquidez" class="btn btn-sm align-middle btn-outline-secondary" type="button">Operaciones de liquidez</button>
    <button routerLink="/report/{{id}}/{{date}}/movimientos" class="btn btn-sm align-middle btn-outline-secondary" type="button">Movimientos</button>
  </form>
</nav>
</div>
<section class="personal-data">
  <div *ngIf="opc == undefined" class="content-wrapper border-container">
      <div>
        <img style="width: 100px; height: 100px;" src="/images/loading_data.gif" >
      </div>
  </div>
  <div *ngIf="opc != undefined" class="content-wrapper border-container">
      <div *ngIf="!opc?.Not_found">
        <div class="col">
            <div class="text-left"><strong>Nombre:   </strong><em>{{ opc?.personal_data.name }}</em></div>
        </div>
        <div class="col">
            <div class="text-left"><strong>Direccion:   </strong><em> {{ opc?.personal_data.address }}</em></div>
        </div>
        <div class="col">
            <div class="text-left"><strong>Ciudad:   </strong><em>{{ opc?.personal_data.city }}</em></div>
        </div>
        <div class="col">
            <div class="text-left"><strong>Asessor comercial:   </strong><em>{{ opc?.personal_data.comercial_adviser }}</em></div>
        </div>
        <div class="col">
            <div class="text-left"><strong>Estado:   </strong><em> {{ opc?.personal_data.state }}</em></div>
        </div>
      </div>
      <div *ngIf="opc?.Not_found">
        <div class="col">
            <div class="text-left"><strong>{{ opc?.Not_found }}</strong></div>
        </div>
      </div>
  </div>
</section>

<div *ngIf="!opc?.Not_found">
<section class="table">
  <table style="width:100%">
    <thead>
      <th>Emisión</th><th>Tipo</th><th>F. Inicial</th><th>F. Final</th><th>Nominal</th><th>V. Operacion</th>
    </thead>
      <tr *ngFor="let item of opc?.data">
        <td>Varl</td>
        <td>Varl</td>
        <td>Varl</td>
        <td>Varl</td>
        <td>Varl</td>
        <td>Varl</td>
      </tr>
      <tr>
        <td colspan="5"><strong>Total Operaciones de Liquidez</strong></td>
        <td colspan="1"><strong> {{ opc?.total }} </strong></td>
      </tr>
  </table>
</section>
</div>
