<div class="page-pie">
  <div class=" row wrapper-content">
    <nav class="navbar navbar-light bg-faded">
    <form class="form-inline">
      <button routerLink="/report/{{id}}/{{date}}/pie" class="btn btn-sm align-middle btn-outline-secondary" type="button"> Resumen de Portafolio </button>
      <button *ngIf="products?.access.TotalRV.val" routerLink="/report/{{id}}/{{date}}/renta-varible" class="btn btn-sm align-middle btn-outline-secondary" type="button">Renta Varible</button>
      <button *ngIf="products?.access.TotalRF.val" routerLink="/report/{{id}}/{{date}}/renta-fija" class="btn btn-sm align-middle btn-outline-secondary" type="button">Renta Fija</button>
      <button *ngIf="products?.access.TotalCarteras.val" routerLink="/report/{{id}}/{{date}}/fics" class="btn btn-sm align-middle btn-outline-secondary" type="button">Fondos de inversión</button>
      <button *ngIf="products?.access.TotalLiquidez.val" routerLink="/report/{{id}}/{{date}}/operaciones-por-cumplir" class="btn btn-sm align-middle btn-outline-secondary" type="button">Operaciones por cumplir</button>
      <button *ngIf="products?.access.TotalPorCumplir.val" routerLink="/report/{{id}}/{{date}}/operaciones-de-liquidez" class="btn btn-sm align-middle btn-outline-secondary" type="button">Operaciones de liquidez</button>
      <button routerLink="/report/{{id}}/{{date}}/movimientos" class="btn btn-sm align-middle btn-outline-secondary" type="button">Movimientos</button>
    </form>
  </nav>
  </div>
  <section class="personal-data">
    <div *ngIf="products == undefined" class="content-wrapper border-container">
        <div>
          <img style="width: 100px; height: 100px;" src="/images/loading_data.gif" >
        </div>
    </div>
    <div *ngIf="products != undefined" class="content-wrapper border-container">
        <div class="col">
            <div class="text-left"><strong>Nombre:</strong><span>{{ products?.personal_data.name }}</span></div>
        </div>
        <div class="col">
            <div class="text-left"><strong>Direccion:   </strong><span> {{ products?.personal_data.address }}</span></div>
        </div>
        <div class="col">
            <div class="text-left"><strong>Ciudad:   </strong><span>{{ products?.personal_data.city }}</span></div>
        </div>
        <div class="col">
            <div class="text-left"><strong>Asessor comercial:   </strong><span>{{ products?.personal_data.comercial_adviser }}</span></div>
        </div>
        <div class="col">
            <div class="text-left"><strong>Estado:   </strong><span> {{ products?.personal_data.state }}</span></div>
        </div>
    </div>
  </section>

  <section class="header">
    <h3> COMPOSICIÓN DEL PORTAFOLIO </h3>
    <div *ngIf="products == undefined" class="content-wrapper border-container">
        <div>
          <img style="width: 100px; height: 100px;" src="/images/loading_data.gif" >
        </div>
    </div>
    <div *ngIf="products != undefined" class="content-wrapper border-container">
      <div class="col">
          <div class="text-left"><strong>Renta variable:</strong></div><div class="text-rigth"> $ {{ products?.composition_portfolio.variable_rent  }} </div>
      </div>
      <div class="col">
          <div class="text-left" ><strong>Renta fija:</strong></div><div class="text-rigth"> $ {{ products?.composition_portfolio.static_rent }}</div>
      </div>
      <div class="col">
          <div class="text-left" ><strong>Operaciones de liquidez:</strong></div><div class="text-rigth"> $ {{ products?.composition_portfolio.operation_liquidity }}</div>
      </div>
      <div class="col">
          <div class="text-left" ><strong>Operaciones por cumplir:</strong></div><div class="text-rigth">$ {{ products?.composition_portfolio.operation_comply }}</div>
      </div>
      <div class="col">
          <div class="text-left" ><strong>Saldo disponible:</strong></div><div class="text-rigth"> $ {{ products?.composition_portfolio.avaluable_balance }}</div>
      </div>
      <div class="col">
          <div class="text-left"><strong>Total Cuenta de Administración:</strong></div><div class="text-rigth"> $ {{ products?.composition_portfolio.total_administration_account }}</div>
      </div>
      <div class="col">
          <div class="text-left" ><strong>Fondos de Inversión Colectiva:</strong></div><div class="text-rigth"> $ {{ products?.composition_portfolio.funds_investment_colective }}</div>
      </div>
      <div class="col">
          <div class="text-left" ><strong>Gran Total:</strong></div><div class="text-rigth"> $ {{ products?.composition_portfolio.gran_total }}</div>
      </div>
    </div>
    <table>
      <thead>
        <th></th>
      </thead>
      <tbody>
        <tr><td></td></tr>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </section>
  <section class="diagram">
    <div *ngIf="pieChartData != undefined && showPie == 1" style="display: block">
      <canvas class="diagram-pie" baseChart
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              [options]="pieChartOptions"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
      </canvas>
    </div>
    <!--<div *ngIf="pieChartData != undefined && showExtrac == 1" style="display: block">
      <form class="form-search">
          <label for="name">Desde:</label>
          <input type="text" [(ngModel)]="date" name="date" required>
          <label for="name">Hasta:</label>
          <input type="text" [(ngModel)]="date_end" name="date_end" required>
          <button  (click)="search()" class="btn btn-sm align-middle btn-outline-secondary" type="button">buscar</button>
      </form>
      <table *ngIf="dataExtrac != undefined " style="width:100%" class="report-table">
        <thead>
          <th class="numero" >Numero</th>
          <th class="detalle">Detalle</th>
          <th>A. Cargo</th>
          <th>A. Favor</th>
          <th>Saldo</th>
        </thead>
          <tr *ngFor="let item of dataExtrac?.data">
            <td class="numero" >{{item.strNumero}}</td>
            <td class="detalle" >{{item.strDetalle1}}</td>
            <td class="cargo">{{item.ACargo | currency:'USD':true:'1.2-2'}}</td>
            <td class="favor" >{{item.AFavor | currency:'USD':true:'1.2-2'}}</td>
            <td class="saldo">{{item.Saldo | currency:'USD':true:'1.2-2'}}</td>
          </tr>
      </table>
    </div>-->
  </section>
</div>
