
<div class="page-saldos-y-movimientos-fondos">
  <div class=" wrapper-content">
    <nav class="navbar navbar-light bg-faded">
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link"  routerLink="/report/{{id_identificacion}}/{{fecha}}/resumen-de-portafolio">
              <span class="glyphicon glyphicon glyphicon-briefcase" aria-hidden="true"> </span>Resumen de Portafolio <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/report/{{id_identificacion}}/{{fecha}}/saldos-y-movimientos-de-la-firma">
              <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>Saldos y Movimientos Firma Comisionista</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" routerLink="/report/{{id_identificacion}}/{{fecha}}/saldos-y-movimientos-fondos-de-inversion">
              <span class="glyphicon glyphicon-indent-right" aria-hidden="true"></span>Saldos y Movimientos Fondos de Inversión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" routerLink="/report/{{id_identificacion}}/{{fecha}}/extractos-y-certificaciones">
              <span class="glyphicon glyphicon-folder-open"></span>
              Extractos y Certificaciones </a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="personal-info col-md-12 my-2 my-lg-0">
      <span> {{user_info?.nombre}} </span><br>
      <span> {{user_info?.identification}} </span><br>
      <span> Fecha actual: {{ today | date: 'dd/MM/yyyy' }} </span>
    </div>

    <section class="table" style="display:inline-block">
      <h3>SALDOS FONDOS DE INVERSIÓN</h3>
      <table style="width:100%">
        <div *ngIf="renta_fics == undefined" class="content-wrapper">
            <div>
              <img style="width: 100px; height: 100px;" src="/images/loading_data.gif" >
            </div>
        </div>
        <thead>
          <th>FONDO</th>
          <th>Encargo</th>
          <th>F. Constitucion</th>
          <th>F. Vncto.</th>
          <th>Vlr. Unidad</th>
          <th>Nro.Unidades</th>
          <th>Saldo Pesos</th>
        </thead>
          <tr *ngFor="let item of renta_fics?.data">
            <td>{{ item.FONDO }}</td>
            <td>{{ item.Encargo }}</td>
            <td>{{ item.Fecha_Const  }}</td>
            <td>{{ item.Fecha_vto }}</td>
            <td>$ {{ item.ValorUnidad  }}</td>
            <td>{{ item.nro_unidades }}</td>
            <td>$ {{ item.SaldoPesos  }}</td>
          </tr>
          <tr>
           <td colspan="6"><strong>Total Fics</strong></td>
           <td colspan="1"><strong>$ {{ renta_fics?.total }} </strong></td>
          </tr>
      </table>
    </section>

    <section class="table">
        <h3>MOVIMIENTOS</h3>
        <form class="form-search">
          <div class="row">
            <div class="col">
              <label for="name">Fondos de Inversión:</label>
              <select id="option_select" [(ngModel)]="option_select" name="option_select" class="wrapper-select">
                <option value="NA">-- seleccione --</option>
                <option *ngFor="let item of fics_filter?.fics" value="{{item['Fondo']}}|{{item['Nombre']}}|{{item['Fideicomiso']}}">{{item['Nombre']}} - {{item['Fideicomiso']}}</option>
              </select>
              <label for="name">Desde:</label>
              <input  id="datepicker_start" type="text" [(ngModel)]="fecha_inicio" name="fecha_inicio" required>
              <label for="name">Hasta:</label>
              <input id="datepicker_end" type="text" [(ngModel)]="fecha_final" name="fecha_final" required>
              <button  (click)="search()" class="btn btn-sm align-middle btn-outline-secondary" type="button">Consultar</button>
            </div>
          </div>
        </form>
      <div style="display: block">
        <table *ngIf="info_movimientos != undefined " style="width:100%" class="report-table">
          <thead>
            <th class="numero" >FECHA</th>
            <th class="numero" >TRANSACCIÓN</th>
            <th class="detalle">DEBITO</th>
            <th>CREDITO</th>
            <th>UNIDADES</th>
            <th>VALOR UNIDAD</th>
            <th>SALDO</th>
          </thead>
            <tr *ngFor="let item of info_movimientos?.data">
              <td class="numero" >{{item.fecha | date: 'dd/MM/yyyy'}}</td>
              <td class="detalle" >{{item.Transaccion}}</td>
              <td class="numero" >{{item.Debito}}</td>
              <td class="cargo">{{item.Credito | currency:'USD':true:'1.2-2' }}</td>
              <td class="favor" >{{item.Unidades }}</td>
              <td class="favor" >{{item.ValorUnidad | currency:'USD':true:'1.2-2' }}</td>
              <td class="saldo">{{item.Saldo | currency:'USD':true:'1.2-2'}}</td>
            </tr>
        </table>

        <div *ngIf="info_movimientos?.id != undefined" class="content-wrapper download-xls">
            <div style="text-align:left" for="Opciones de descarga">Opciones de descarga</div>
            <div style="text-align:left">
              <a href="/download-fics/{{info_movimientos?.id}}"><img style="width: 30px; height: 30px;" src="/images/excel.png" >   XLS</a>
            </div>
        </div>

      </div>
    </section>
  </div>
</div>
