
<div class="page-saldos-y-movimientos-fondos">
  <div class=" wrapper-content">
  <menu></menu>
  <div class="col-md-6"></div>
  <user-info></user-info>

    <section class="table" style="display:inline-block">
      <h5>SALDOS FONDOS DE INVERSIÓN</h5>
      <table style="width:100%">
        <div *ngIf="renta_fics == undefined" class="content-wrapper">
            <div>
              <img style="width: 100px; height: 100px;" src="/images/loading_data.gif" >
            </div>
        </div>
        <thead>
          <th>fondo de inversión</th>
          <th>encargo</th>
          <th>f. Constitución</th>
          <th>f. Vencimiento</th>
          <th>vlr. Unidad</th>
          <th>nro.Unidades</th>
          <th>saldo pesos</th>
        </thead>
          <tr *ngFor="let item of renta_fics?.data">
            <td>{{ item.FONDO }}</td>
            <td>{{ item.Encargo }}</td>
            <td>{{ item.Fecha_Const  }}</td>
            <td>{{ item.Fecha_vto }}</td>
            <td>$ {{ item.ValorUnidad  }}</td>
            <td>{{ item.nro_unidades }}</td>
            <td>$ {{ item.SaldoPesos  }}</td>
          </tr>
          <tr>
           <td colspan="6"><strong>Total Fics</strong></td>
           <td colspan="1"><strong>$ {{ renta_fics?.total }} </strong></td>
          </tr>
      </table>
    </section>

    <section class="table">
        <h5>MOVIMIENTOS</h5>
        <form class="form-search">
          <div class="row">
            <div class="col">
              <label for="name">Fondos de Inversión:</label>
              <select id="option_select" [(ngModel)]="option_select" name="option_select" class="wrapper-select">
                <option value="NA">-- seleccione --</option>
                <option *ngFor="let item of fics_filter?.fics" value="{{item['Fondo']}}|{{item['Nombre']}}|{{item['Fideicomiso']}}">{{item['Nombre']}} - {{item['Fideicomiso']}}</option>
              </select>
              <label for="name">Desde:</label>
              <input  id="datepicker_start" type="text" [(ngModel)]="fecha_inicio" name="fecha_inicio" required>
              <label for="name">Hasta:</label>
              <input id="datepicker_end" type="text" [(ngModel)]="fecha_final" name="fecha_final" required>
              <button  (click)="search()" class="btn btn-sm align-middle btn-outline-secondary" type="button">Consultar</button>
            </div>
          </div>
        </form>
      <div style="display: block">
        <table *ngIf="info_movimientos != undefined " style="width:100%" class="report-table">
          <thead>
            <th class="numero" >FECHA</th>
            <th class="numero" >TRANSACCIÓN</th>
            <th class="detalle">DÉBITO</th>
            <th>CRÉDITO</th>
            <th>NRO. UNIDADES</th>
            <th>VLR. UNIDAD</th>
            <th>SALDO PESOS</th>
          </thead>
            <tr *ngFor="let item of info_movimientos?.data">
              <td class="numero" >{{item.fecha | date: 'dd/MM/yyyy'}}</td>
              <td class="detalle" >{{item.Transaccion}}</td>
              <td class="numero" >{{item.Debito}}</td>
              <td class="cargo">{{item.Credito | currency:'USD':true:'1.2-2' }}</td>
              <td class="favor" >{{item.Unidades }}</td>
              <td class="favor" >{{item.ValorUnidad | currency:'USD':true:'1.2-2' }}</td>
              <td class="saldo">{{item.Saldo | currency:'USD':true:'1.2-2'}}</td>
            </tr>
        </table>

        <div *ngIf="info_movimientos?.id != undefined" class="content-wrapper download-xls">
            <div style="text-align:left" for="Opciones de descarga">Opciones de descarga</div>
            <div style="text-align:left">
              <a href="/download-fics/{{info_movimientos?.id}}"><img style="width: 30px; height: 30px;" src="/images/excel.png" >   XLS</a>
            </div>
        </div>

      </div>
    </section>
  </div>
</div>
