$FontSize_Text : 9px;
$FontSize_TextMedium : 12px;

body{
  font-family: sans-serif!important;
}
menu{
  margin: 0;
  padding: 0;
}
strong{
  font-size: $FontSize_Text;
  text-transform: uppercase;
}

th{
  text-transform: uppercase;
  font-size: $FontSize_TextMedium;
}
td{
  font-size: $FontSize_Text;
}

label{
  font-size: $FontSize_TextMedium;
}
h5{
  font-weight: 600!important;
}

.text-medium{
  font-size: $FontSize_TextMedium;
}

td.left-text{
  text-align: left;
}
th.left-text{
  text-align: left;
}
td.right-text{
  text-align: right;
}
th.right-text{
  text-align: right;
}
.table{
  margin: 5px 0 0 0;

}

section.table{
  height: auto;
}

.page-pie{
 span
  {
    font-size: $FontSize_Text;
    margin: 10px;
  }
  canvas{
    margin: 0 auto;
  }
}
.page-rv{
 span
  {
    font-size: $FontSize_Text;
    margin: 10px;
  }

}
span
 {
   font-size: $FontSize_Text;
   margin: 10px;
 }

section{
  margin: 5px 0 5px 0;
}
.content-wrapper{
  padding: 0 20px;
  width: 100%;

}
.content-align-center{
 text-align: center;

}

.border-container{
  border: 1px solid;
  border-color: #0082d4;
  display: inline-block;
}

.my-app-container{
  display: inline-block;
  width: 900px;

}
.col p{
  text-align: left;
}

.text-rigth{
  float: right;
  width: 50%;
  display: inline-block;
  text-align: right;

}
.text-left{
  float: left;
  width: 50%;
  display: inline-block;
}
.diagram-pie{
   display: initial!important;
    width: 300px!important;
    height: 300px!important;
}

.diagram{
  margin: 10px 0px;
}

td{
  text-align: left;
  padding: 0 5px!important;
}
thead{
  background-color: #3173bd;
    color: #fff;
}
table{
 border: 1px solid;
}

.wrapper-content{
  top: 15px;
  margin-top: 20px;
}


.report-table{
      border: solid 1px;
}
.report-table thead{
      border: solid 1px;
}
.report-table th{
      border: solid 1px;
      text-align: center;
}
.report-table td{
      border: solid 1px;
}



.report-table th.numero{
  width: 100px;
}
.report-table th.detalle{
  width: 400px;
}

.report-table td.numero{
  width: 100px;
  font-size: 10px;
  text-align: right;
}
.report-table td.detalle{
  width: 400px;
  font-size: 10px;

}
.report-table td.cargo{
text-align: right;
  font-size: 10px;

}
.report-table td.favor{
  text-align: right;
  font-size: 10px;

}.report-table td.saldo{
  text-align: right;

  font-size: 10px;

}
.form-search{
  margin:15px 0 15px 0;
}
input{
  margin:0 5px 0 5px!important;
}

.ui-datepicker-calendar{
    td{
      padding: 0px!important;
  }
   th{
    padding: 0px!important;
  }
}

div#ui-datepicker-div {
    width: auto;
}
#navbar-menu{
  padding: 0;
}
ul.navbar-nav{
  background: #f0f0f0;
  list-style: none;
  padding: 6px;
  li{
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 8px 0 0;
  }
}
.date-selector{
  text-align: left;
  margin: 25px 0 0 0;
}
.download-xls{
  margin-top: 5px;
  margin-bottom: 5px;
}
input{
  width: 90px;
  padding: 0 6px;
}
.wrapper-select{
    margin: 0 80px 0px 4px;
}
.left-aling-content{
  text-align: left;
}
section{
  display: inline-block;
  border: 1px solid #c8c8c8;
  padding: 10px;
  //margin: 10px;

}
.header{
  display: inline-block;
  width: 100%;
  margin: 5px 0 0 0;
}

.personal-data{
  display: inline-block;
  width: 100%;
  margin: 5px 0 0 0;

}
nav{
  border: 1px solid #fff;
  ul{
    width: 100%;
    li{
      a{
        font-size: 9px;
      }
    }
  }
}
#datepicker{
  width: 90px;
  padding: 0 6px;
  margin: 0 5px 0 5px !important;

}
.personal-info{
  margin: 15px 0 15px 0;
  font-size: $FontSize_Text;
  text-align: right;

}


.extracto{
  table{
    th{
      td{
        font-size: 9px;
      }
    }
  }
}
.container-title{
  padding: 0!important;
}
.title{
  padding: 0!important;
}
.title::after{
  background: #c8c8c8;
  position: absolute;
  content: '';
  height: 1px;
  right: 0;
  bottom: 4px;
  //width: 555px;
}
.resumen::after{
  width: 705px;
}
.firma::after{
  width: 563px;
}
.fondos:after{
  width: 547px;
}
.extractos::after{
  width: 666px;
}

.title-text{
  text-align: left;
  margin: 0;
}
