body{
  font-family: sans-serif!important;
}

.page-pie{
 span
  {
    font-size: 14px;
    margin: 10px;
  }
  canvas{
    margin: 0 auto;
  }
}
.page-rv{
 span
  {
    font-size: 14px;
    margin: 10px;
  }

}
span
 {
   font-size: 11px;
   margin: 10px;
 }


section{
  margin: 5px 0 5px 0;
}
.content-wrapper{
  padding: 0 20px;
  width: 100%;

}
.content-align-center{
 text-align: center;

}

.border-container{
  border: 1px solid;
  border-color: #0082d4;
  display: inline-block;
}

.my-app-container{
  display: inline-block;
  width: 900px;

}
.col p{
  text-align: left;
}

.text-rigth{
  float: right;
  width: 50%;
  display: inline-block;
  text-align: right;

}
.text-left{
  float: left;
  width: 50%;
  display: inline-block;
}
.diagram-pie{
   display: initial!important;
    width: 400px!important;
    height: 400px!important;
}

.diagram{
  margin: 30px;
}

td{
  text-align: left;
  padding: 0 5px!important;
}
thead{
  background-color: #3173bd;
    color: #fff;
}
table{
 border: 1px solid;
}

.wrapper-content{
  top: 15px;
  margin-top: 20px;
}


.report-table{
      border: solid 1px;
}
.report-table thead{
      border: solid 1px;
}
.report-table th{
      border: solid 1px;
      text-align: center;
}
.report-table td{
      border: solid 1px;
}



.report-table th.numero{
  width: 100px;
}
.report-table th.detalle{
  width: 500px;
}

.report-table td.numero{
  width: 100px;
  font-size: 10px;
  text-align: right;
}
.report-table td.detalle{
  width: 500px;
  font-size: 10px;

}
.report-table td.cargo{
text-align: right;
  font-size: 10px;

}
.report-table td.favor{
  text-align: right;
  font-size: 10px;

}.report-table td.saldo{
  text-align: right;

  font-size: 10px;

}
.form-search{
  margin:15px 0 15px 0;
}
input{
  margin:0 5px 0 5px!important;
}

.ui-datepicker-calendar{
    td{
      padding: 0px!important;
  }
   th{
    padding: 0px!important;
  }
}

div#ui-datepicker-div {
    width: auto;
}
