<div class="page-pie">
  <div class=" wrapper-content">
  <menu></menu>
  <div class="container-title col-md-12">
      <div class="title col-md-12 resumen">
       <h5 class="title-text " >AYUDA</h5>
      </div>
  </div>
</div>
</div>

    <section class="table" style="display:inline-block">
       
        <h4 style="text-align: left;">Manuales de ayuda</h4>
        <div>
          <ul style="text-align: left;">
            <li><a target="_blank" href="/documentos_ayuda/instructivo PIE.pdf">Instructivo PIE Resumen de Inversiones</a></li>
            <li><a target="_blank" href="/documentos_ayuda/instructivo extractos.pdf">Extracto Movimientos</a></li>
            <li><a target="_blank" href="/documentos_ayuda/instructivo PIE.pdf">Extracto Fondos de Inversión Colectiva</a></li>
          </ul>
        </div>

        <h4 class="title-text " >Consultas</h4>

        <h5 name="m_porta" style="text-align: left;">Consultar resumen de portafolio</h5>
        <div>
          <ol style="text-align: left;">
          <li value="1">En el menú dar clic sobre RESUMEN DE PORTAFOLIO</li>
          <li>Seleccionar la fecha </li>
          <li>Dar clic en el botón Consultar</li>
          </ol>
        </div>

        <h5 name="m_fc" style="text-align: left;">Consultar movimientos firma comisionista</h5>
        <div>
          <ol style="text-align: left;">
          <li value="1">En el menú dar clic sobre SALDOS Y MOVIMIENTOS FIRMA COMISIONISTA</li>
          <li>Seleccionar el periodo a consultar</li>
          <li>Dar clic en el botón Consultar</li>
          </ol>
        </div>

        <h5 name="m_fi" style="text-align: left;">Consultar movimientos fondos de inversión</h5>
        <div>
          <ol style="text-align: left;">
          <li value="1">En el menú dar clic sobre SALDOS Y MOVIMIENTOS FONDOS DE INVERSIÓN</li>
          <li>Seleccionar del listado el Fondo de Inversión</li>
          <li>Seleccionar el periodo a consultar</li>
          <li>Dar clic en el botón Consultar</li>
          </ol>
        </div>

        <h5 name="m_ext" style="text-align: left;">Consultar extractos</h5>
        <div>
          <ol style="text-align: left;">
          <li value="1">En el menú dar clic sobre EXTRACTOS Y CERTIFICACIONES</li>
          <li>Seleccionar del listado la Firma Comisionista ó</li>
          <li>Seleccionar del listado el Fondo de Inversión</li>
          <li>Dar clic en el botón Consultar</li>
          </ol>
        </div>

       <h5 name="m_cer" style="text-align: left;">Consultar certificaciones</h5>
        <div>
          <ol style="text-align: left;">
          <li value="1">En el menú dar clic sobre EXTRACTOS Y CERTIFICACIONES</li>
          <li>Seleccionar del listado el año para generar el Certificado para declaración de renta</li>
          <li>Dar clic en el botón Consultar</li>
          </ol>
        </div>
    </section>