<header class="header">
  <img src="/images/report-header.jpeg"/>
</header>
<div class="page-pie">
  <div class="wrapper-content">
    <router-outlet></router-outlet>
  </div>
</div>
<footer class="header">
  <div id="fotter">
        <div class="blue-bar"> </div>
        <div class="logo-super-intendencia">
          <img src="/images/superintendencia.png" />
        </div>
        <div class="text-content">
                <div class="main">
                    Cualquier inconformidad con la informaci&oacute;n presentada agradecemos comunicarla a la 
                    revisor&iacute;a fiscal BDO Audit S.A en la Transversal 21 No. 98 – 05 en Bogot&aacute; D.C - Contacto Víctor 
                    Ramirez Vargas vramirez@bdo.com.co Tel&eacute;fono (1) 623 01 99.
                    Defensor del consumidor financiero: Pablo Tomas Silva en la Carrera 6 No. 14-74
                    Oficina 1205 Bogot&aacute; - <span style="color:blue">ptsilvadefensor@hotmail.com </span>Tel&eacute;fonos 2823570 – 3133644105.
                </div>
                <div class="second">
                    Los datos del presente informe corresponden a una valoraci&oacute;n lineal y de mercado, de car&aacute;cter &uacute;nicamente informativo. Por lo tanto,
                    Global Securities S.A. no asume ninguna responsabilidad por las interpretaciones que sobre estos se hagan, es importante tener
                    presente que, debido a las variaciones permanentes del mercado de valores, si requiere negociar algunos activos relacionados en el
                    presente informe, deber&aacute; comunicarse con su asesor sobre los precios oficiales en el momento de su ejecuci&oacute;n. Si tiene alguna inquietud
                    respecto a su informe, comun&iacute;quese con nuestra l&iacute;nea 4447010 en Medell&iacute;n, 3138200 en Bogot&aacute; y 4865560 en Cali, ac&eacute;rquese a cualquiera de
                    nuestras oficinas o visite nuestra p&aacute;gina web <span style="color:blue">www.globalcdb.com.</span>
                </div>
        </div>
    </div>
</footer>


