<header class="header">
  <img src="/images/report-header.jpeg"/>
</header>
<div class="page-pie">
  <div class="wrapper-content">
    <router-outlet></router-outlet>
  </div>
</div>
<footer class="header">
  <div id="fotter">
        <div class="blue-bar"> </div>
        <div class="logo-super-intendencia">
          <img src="/images/superintendencia.png" />
        </div>
        <div class="text-content">
                <div class="main">
                    Cualquier inconformidad con la informaci&oacute;n presentada agradecemos comunicarla a la revisor&iacute;a KPMG en la Carrera 43 A No. 16A Sur 38 P3 -
                    Contacto Elvia Mar&iacute;a Bol&iacute;var Puerta <span style="color:blue">embolivar@kpmg.com</span> Tel&eacute;fono (4) 355 60 60 Ext: 4119.
                    Defensor del consumidor financiero: Pablo Tomas Silva en la Carrera 6 No. 14-74
                    Oficina 1205 Bogot&aacute; - <span style="color:blue">ptsilvadefensor@hotmail.com </span>Tel&eacute;fonos 2823570 – 3133644105.
                </div>
                <div class="second">
                    Los datos del presente informe corresponden a una valoraci&oacute;n lineal y de mercado, de car&aacute;cter &uacute;nicamente informativo. Por lo tanto,
                    Global Securities S.A. no asume ninguna responsabilidad por las interpretaciones que sobre estos se hagan, es importante tener
                    presente que, debido a las variaciones permanentes del mercado de valores, si requiere negociar algunos activos relacionados en el
                    presente informe, deber&aacute; comunicarse con su asesor sobre los precios oficiales en el momento de su ejecuci&oacute;n. Si tiene alguna inquietud
                    respecto a su informe, comun&iacute;quese con nuestra l&iacute;nea 4447010 en Medell&iacute;n, 3138200 en Bogot&aacute; y 4865560 en Cali, ac&eacute;rquese a cualquiera de
                    nuestras oficinas o visite nuestra p&aacute;gina web <span style="color:blue">www.globalcdb.com.</span>
                </div>
        </div>
    </div>
</footer>
